
h1{
    color: rgb(25, 25, 241);
}

.titulo{
    color: rgb(236, 12, 12);
    background-attachment: pink;
    
}

.faq{
    width: 80%;
    margin: 0 auto;
    list-style: none;
}
.faq li {
    background-color: #343434;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
}

.faq summary {
    background-color: #454545;
    padding: 16px;
    color: aqua;
    cursor: pointer;
    font-size: 18px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    outline: none;

}

.faq p {
    background-color: #454545;
    padding: 16px;
    cursor: pointer;

    
}

footer {
	background-color: #d61818;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

header{
    background-color: #74d618;
	color: #fff;
	padding: 10px;
	text-align: center;
	margin-top: 50px;
}

summary::after {
    content: "+";
    font-size: 34px;
  }
  
  details[open] summary::after {
    content: "X";
    font-size: 24px;
  }

  